*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
KidsPainter/KidsPainter/bin/Debug/App.xaml
KidsPainter/KidsPainter/bin/Debug/AppX/App.xaml
KidsPainter/KidsPainter/bin/Debug/AppX/KidsPainter.exe
KidsPainter/KidsPainter/bin/Debug/AppX/KidsPainter.pdb
KidsPainter/KidsPainter/bin/Debug/AppX/resources.pri
KidsPainter/KidsPainter/bin/Debug/AppX/vs.appxrecipe
KidsPainter/KidsPainter/bin/Debug/KidsPainter.build.appxrecipe
KidsPainter/KidsPainter/bin/Debug/KidsPainter.exe
KidsPainter/KidsPainter/bin/Debug/KidsPainter.pdb
KidsPainter/KidsPainter/bin/Debug/resources.pri
KidsPainter/KidsPainter/obj/Debug/App.g.cs
KidsPainter/KidsPainter/obj/Debug/App.g.i.cs
KidsPainter/KidsPainter/obj/Debug/App.xaml
KidsPainter/KidsPainter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KidsPainter/KidsPainter/obj/Debug/intermediatexaml/KidsPainter.exe
KidsPainter/KidsPainter/obj/Debug/intermediatexaml/KidsPainter.pdb
KidsPainter/KidsPainter/obj/Debug/KidsPainter.csproj.FileListAbsolute.txt
KidsPainter/KidsPainter/obj/Debug/KidsPainter.exe
KidsPainter/KidsPainter/obj/Debug/KidsPainter.pdb
KidsPainter/KidsPainter/obj/Debug/layout.resfiles
KidsPainter/KidsPainter/obj/Debug/layout.resfiles.intermediate
KidsPainter/KidsPainter/obj/Debug/ProjectArchitectures.txt
